header{
    background-color: rgb(175, 124, 13);
    margin-top: 0;
    border-bottom: 2px solid black;
    margin-bottom: 160px;
}

#title-div{
    margin: 0;
    margin-right: -5px;
    height: 150px;
    width: 100%;
    margin-top: -8px;
}

#main-title{
    color: rgb(32, 30, 30);
    text-align: center;
    margin-right: auto;
    font-size: 60px;
    z-index: 2;
    margin-top: -8px;
    display: inline;
    margin-left: 39%;
}


#bee{
    height:100px;
    width: 100px;
    animation-name: buzz;
    animation-duration: .05s;
    animation-iteration-count: 15;
    animation-direction: alternate;
    margin-left: -55px;
}

@keyframes buzz{
    100%{
        transform: rotate(15deg);
    }
}

.key,.letter{
    border-radius: 10px;
}

#start-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    max-width: 100%;
    padding: 15px;
}

#line{
    border: 1px dashed black
}

#startup-content{
    margin-top: 10px;
}

ul{
    padding:0;
}

#hint{
    list-style: none;
}

#example{
    margin: 10px;
}

#start{
    height: 60px;
    width: 150px;
    font-size: 22px;
    color: white;
    background-color: green;
    margin-top: 50px;
    
}

@keyframes breathe {
    0%{
        height: 60px;
        width: 150px; 
    }

    100%{
        height: 80px;
        width: 170px;
    }
}



#example-letter1{
    background-color: rgb(173, 173, 2);
}

#example-letter2{
    background-color: green ;
}

#example-letter3{
    background-color: rgb(82, 81, 81);
}

#example.row{
    justify-content:flex-start
}

li{
    font-size: 20px;
}


body{
    background-color: rgb(209, 172, 7);
    font-family: cursive;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
    min-width: 700px;
}

div#game-container{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: -9%;
    margin-bottom: 50px;
    
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.letter{
    background-color: rgb(175, 124, 13);
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    border:1px solid rgb(32, 30, 30)
    
}

div#keyboard-container{
    height: 200px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -500px;
}

.key{
    background-color: rgb(175, 124, 13);
    height: 50px;
    width: 50px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    border:1px solid rgb(32, 30, 30)

}

#Enter{
    width: 70px;
}

.key:active{
    background-color: rgb(199, 140, 14);
}

.key:hover{
    border: 0.5px solid white;
}

div.keyboard#qwer-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.keyboard#asdf-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.keyboard#zxcv-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* html{
    cursor: url("pngimg.com - bee_PNG74646.png"), auto;
} */

/* styling for letters */

.not-included{
    background-color: rgb(82, 81, 81);
}

.included{
    background-color: rgb(173, 173, 2);
}

.correct{
    background-color: green;
}

#Restart-Game{
    width: 120px;
    height: 55px;
    border-radius: 20px;
    background-color: rgb(175, 124, 13);
    color: white;
    font-size: 17px;
    margin-top: 10%;
    margin-left: 75%;

}
